<!DOCTYPE html>
<html>

<head>
	<% include partial/head.ejs %>
	<title>Homefront - Submission received</title>
</head>

<body>

	<div id="navigation">
		<a href="/"><h1 class="navElement">Homefront</h1></a>
		<img src="/icon.png" alt="icon" class="navElement">
		<a class="navElement navLink" href="/submit">Submit a safety report</a>
	</div>

	<div style="height:100px"></div>
	<div id="mainForm">
		
		<h2>Submission received!</h2>


	</div>


</body>

</html>